
<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-75">
            <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                <div class="card card-plain mt-8">
                    <div style="height: 5.875rem; text-align: center;">
                        <a class="navbar-brand m-0" href="https://ornacol.com/" target="_blank">
                        <img src="../assets/img/logos/main-logo-3.png" class="navbar-brand-img h-100" alt="main_logo">
                        <span class="ms-1 font-weight-bold" style="color: #488154">IoT</span>
                        </a>
                    </div>
                    <div class="card-header pb-0 text-left bg-transparent">
                        <h3 class="font-weight-bolder text-dark text-gradient">¡Bienvenido de vuelta!</h3>
                        <p class="mb-0">Ingresa tu correo y contraseña para iniciar sesión.</p>
                    </div>

                    <div class="card-body">
                        <form id="login">
                            <label>Correo</label>
                            <div class="mb-3">
                                <input type="email" id="email" name="email" class="form-control" placeholder="Correo">
                            </div>
                            <label>Contraseña</label>
                            <div class="mb-3">
                                <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña">
                            </div>
                            <div class="text-center">
                                <button class="btn bg-gradient-dark w-100 mt-4 mb-0">Iniciar Sesión</button>
                            </div>
                        </form>
                    </div>

                </div>
                </div>
                <div class="col-md-6">
                <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                    <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('../assets/img/curved-images/plants.jpg')"></div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </section>
</main>

<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer></script>
<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
<script>

    window.addEventListener("DOMContentLoaded", () => {

        const firebaseConfig = {
            apiKey: "AIzaSyAcQie2FivaQiwqsHbuD5GOehcX4INPXVs",
            authDomain: "iot-ornacol.firebaseapp.com",
            databaseURL: "https://iot-ornacol-default-rtdb.firebaseio.com",
            projectId: "iot-ornacol",
            storageBucket: "iot-ornacol.appspot.com",
            messagingSenderId: "721299366895",
            appId: "1:721299366895:web:f21cdf459cc5ea8e1e4c1a",
            measurementId: "G-5YFEGWDTZ9"
        };

        firebase.initializeApp(firebaseConfig);
        firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

        document
            .getElementById("login")
            .addEventListener("submit", (event) => {
                event.preventDefault();
                const email = event.target.email.value;
                const password = event.target.password.value;

                firebase
                    .auth()
                    .signInWithEmailAndPassword(email, password)
                    .then(({ user }) => {
                        return user.getIdToken().then((idToken) => {
                            return fetch("/sessionLogin", {
                                method: "POST",
                                headers: {
                                    Accept: "application/json",
                                    "Content-Type": "application/json",
                                    "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                                },
                                body: JSON.stringify({ idToken }),
                            });
                        });
                    })
                    .then( () => {
                        return firebase.auth().signOut();
                    })
                    .then (() => {
                        console.log("Redirect ")
                        window.location.assign("/");
                    });
                return false;
            });
    });
</script>

