<div class="header pb-2">
    <div class="container-fluid">
    <div class="header-body">
        <div class="row align-items-center py-4 center">
            <div class="col-lg-12 col-7">
                <h6 class="h3 d-inline-block mb-0 titles-space">Cobertura WiFi del Bastón Portable</h6>
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                    <!-- <ol class="breadcrumb breadcrumb-links">
                        <li class="breadcrumb-item active"><a href="#"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item active"><a href="#">Mapa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Mapa Ornacol</li>
                    </ol> -->
                </nav>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="container-fluid mt--6 z-i">
    <div class="row">
        <div class="col">
            <div class="card border-0">
                <div id="map-template" class="map-canvas map_wifi">

                </div>
                <!-- <div id="map-default" class="map-canvas" data-lat="40.748817" data-lng="-73.985428" style="height: 600px;"></div> -->
            </div>
        </div>
    </div>
</div>
