<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <form action="/signup" method="GET" class="add_user">
                <input class="btn bg-gradient-dark my-4 mb-0" type="submit" value="Agregar usuario">
            </form>
            <div class="card mb-4 mt-3  ">
                <div class="card-header pb-0">
                <h6>Productores</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive productores ">
                    <table id= "productores" class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Correo</th>
                            <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Correo</th> -->
                            <!-- <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Teléfono</th> -->
                            <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolderopacity-7">Acciones</th> -->
                        </tr>
                    </thead>
                    <tbody>

                        <% for(var item in productores){ %>  

                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                    <!-- <div>
                                        <img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3" alt="user1">
                                    </div> -->
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm"><%= productores[item] %></h6>
                                        <!-- <p class="text-xs text-secondary mb-0"><%= productores[item] %></p> -->
                                    </div>
                                    </div>
                                </td>
                                <!-- <td>
                                    <p class="text-xs font-weight-bold mb-0">Área 1</p>
                                    <p class="text-xs text-secondary mb-0">Massangeana</p>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">3123296752</span>
                                </td> -->
                                <!-- <td class="align-middle">
                                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                    Editar
                                    </a>
                                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Delete user">
                                    Eliminar
                                    </a>
                                </td> -->
                            </tr>
                        <% }; %> 
                        
                    </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>

        <div>
            
        </div>
    </div> 
